
root{
    --primary-color:#5181B8;
    --secondori-color:#224B7A;
    --link-color:#2A5885;

    --content-bg-color:#e7e8ec;
    --color-bg-shadow-color:#d3d9de;


}


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #EDEEF0;
}

ul, ol{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}

.container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
